##
## build artifacts
##

## linux gcc applications
*_linux_gcc

## linux clang applications
*_linux_clang

## linux watcom applications
*_linux_watcom

## generic artifacts
*.o
*.exe
*.obj
*.err
*.rex

## generic artifacts
*.O
*.EXE
*.OBJ
*.ERR
*.REX

##
## unversioned files
##

local/

##
## vscode
##

.vscode/
*.code-workspace

##
## build directories
##

## cmake
cmake-build-*/

## meson
meson-build-*/

## make
make-build-*/

##
## misc
##

## python
__pycache__/

## blender
*.blend1

## dosbox-x
dosbox-x.sh
dosbox-x.conf
