# applications (linux)
rexscalar
rexcolor
rexmem
rexstring
rexupkg
rexbase64

# build artifacts
*.o
*.exe

# unversioned files
local/

# vscode
.vscode/
*.code-workspace

# cmake
cmake-build-*/

# meson
meson-build-*/

# make
make-build-*/

# python
__pycache__/
